<h1 class="titles">Topics</h1>
<br>

 <div class="row">
   <div class="col-md-8">
     <% @topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading sub-titles">
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>
     <br>
     
     <% if user_is_authorized_for_topics? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
      <br><br><br>
     <% end %>
   </div>
 </div>